*{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: ;
    align-items: center;
}
.circle{
    position: relative;
    height:60vh;
    width: 60vw;
    border:solid 5px black;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}
.seconds-line{
    position: absolute;
    height:29vh ;
    bottom:50% ;
    left:50% ;
    border-left: solid 5px;
    color: red;
    transform-origin: bottom left;
    animation: rotate 60s infinite;
}
.minutes-line{
    position: absolute;
    height:23vh ;
    bottom:50% ;
    left:50% ;
    border-left: solid 5px;
    color: black;
    transform-origin: bottom left;
    animation: rotate 3600s infinite;
}
.hours-line{
    position: absolute;
    height:17vh ;
    bottom:50% ;
    left:50% ;
    border-left: solid 5px;
    color: rgb(40, 37, 37);
    transform-origin: bottom left;
    animation: rotate 432000s infinite;
}
.dot{
    position: absolute;
    border: solid 5px;
    margin-top: ;
    position: absolute;
    bottom:48% ;
    left:49% ;
    height: 10px;
    width: 10px;
    background-color: rgb(22, 22, 22);
    border-radius: 50%;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }